<!--
/**
 * Route Printing Tool
 * @author  William Garcia
 * @date    5/23/2017
 */
-->
<apex:page docType="HTML-5.0"
	applyhtmltag="false"
	applybodytag="false"
	showheader="false"
	sidebar="false"
	standardstylesheets="false"
	controller="RoutePrintingCtrl">
	
<html xmlns="http://www.w3.org/2000/svg" 
	xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
	<title>{! $Label.RoutePrintingTitle }
		<apex:insert name="pageLabel" /></title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link href="https://fonts.googleapis.com/css?family=Oswald|PT+Sans+Narrow" 
		rel="stylesheet"/>

	<apex:stylesheet value="https://fonts.googleapis.com/css?family=Montserrat" />
	<apex:stylesheet value="{!URLFOR($Resource.SalesforceLightningV230, 
		'assets/styles/salesforce-lightning-design-system.css')}" />
	<apex:stylesheet value="{! URLFOR($Resource.RoutePrintingMainCss) }" />
	<apex:stylesheet value="{! $Resource.spPageMessageCss }" />

	<!-- JS -->
	<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js">
	</script>
	<script type="text/javascript" 
	src="{! URLFOR($Resource.spDatepicker) }"></script>
	<script type="text/javascript" 
	src="{! URLFOR($Resource.spPageMessage) }"></script> 
	<script type="text/javascript" 
	src="{! URLFOR($Resource.RoutePrintingMain) }"></script>

	<!-- Scripts specific to pages -->
	<apex:insert name="scripts" />

	<!-- Use svg in IE -->
	<apex:includeScript value="{!URLFOR($Resource.svg4everybody)}" />
</head>
<body ng-app="routePrintingApp" ng-cloak="true">
	<c:RoutePrinting/>
	<c:spPageMessage/>
</body>
</html>
</apex:page>