<apex:component access="global">

	<apex:attribute name="BalanceDue"
		type="Decimal"
		required="false"
		description="Represents the BalanceDue" />

	<apex:attribute name="PurchaseActivity"
		type="Decimal"
		required="false"
		description="Represents the PurchaseActivity" />

	<!-- Total row -->
	<!-- style="height: 0;top: -0.8in;"-->
	<!-- class="pb-bck-white pb-relative pb-break-before" -->
	<div class="pb-bck-white footer1">
		<div class="pb-absolute1 pb-dock-bottom1 pb-bck-white" style="bottom: 12px">
			<div class="content pb-border-black">
				<table>
					<tbody>                 
						<tr>
							<td class="pb-p-hor-x-sm pb-p-vert-xx-sm pb-w-3-of-10">  
								<h4 class="pb-txt-strong">
									Purchase Activity in Period
								</h4>
							</td>
							<td class="pb-p-hor-x-sm pb-p-vert-xx-sm pb-w-3-of-10 pb-border-right-black">    
								<h4 class="pb-txt-strong pb-txt-right">
									<apex:outputText value="{0, Number, Currency}">
										<apex:param value="{! PurchaseActivity }" />
									</apex:outputText>
								</h4>
							</td>
							<td class="pb-p-hor-x-sm pb-p-vert-xx-sm pb-w-2-of-10">  
								<h4 class="pb-txt-strong">
									Balance
								</h4>
							</td>
							<td class="pb-p-hor-x-sm pb-p-vert-xx-sm pb-w-2-of-10">  
								<h4 class="pb-txt-strong pb-txt-right">
									<apex:outputText value="{0, Number, Currency}">
										<apex:param value="{! BalanceDue }" />
									</apex:outputText>
								</h4>
							</td>
						</tr>
						<tr>
							<td colspan="4"
								class="pb-p-hor-x-sm pb-p-vert-xxx-sm pb-border-top-black">
								<p class="pb-txt-center">                                               
									-If you have already mailed payment for invoices on this statement, it will be applied to your invoices when it is received.-
								</p>
								<p class="pb-txt-center">                                               
									-Payments received that do not contain invoice payment instructions will be applied to the oldest invoices on your account.- 
								</p>
								<p class="pb-txt-center">                                               
									-Open Payments and credits older than 30 days will automatically be applied to oldest invoices.-
								</p>
								<p class="pb-txt-center">                                               
									-Please review this statement and provide payment for invoices prior to their due date.-
								</p>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</apex:component>